@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}

.app {
  background: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.app-wrapper {
  min-height: 100vh;
  max-width: 754px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 50px 0;
  text-align: center;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button:hover {
  opacity: 0.5;
}
